* {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}

body {
    background-image: url(https://www.baruel.com.br/wp-content/uploads/2025/01/ok-nov-24-esporte-saude-caminhada-1-beneficios.jpg);
    background-size: cover;
}

section {
    gap:20px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
    height: 300px;
    background-color: white;
    box-sizing: border-box;

    border-radius: 5px;
    /* max-zoom: 150%;
    min-zoom: 90%; */
}

.container h1 {
    margin: 0 auto;
}

input {
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;

}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #abde97;
    color: black;
    cursor: url("../img/OIP.webp"), auto;
}

/* faz diferenca pular linha entre button:hover */
button:hover {
    background-color: #84be72;
    color: black;
}

button:active {
    background-color: #5c9d4d;
    color: black;
}

.containerinfo {

    height: 60px;
    background-color: rgb(211, 207, 207);
    border-radius: 10px;
    border-left: 5px solid purple;


}

.containerinfo p {
    padding: 20px;
    margin: 0 10px;
    color: purple;

}

.tablecontainer {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
    height: 300px;
    background-color: white;
    box-sizing: border-box;

    border-radius: 5px;
   
}
.tablecontainer table,th,td{
    border: 1px solid;
    border-collapse: collapse;
}
